pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# Environment
.env
.env.local

# IDE
.idea/
*.iml
.vscode/
.calva/

# OS
.DS_Store
Thumbs.db
