{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.slack.api/slack-api-client {:mvn/version "1.36.1"}
        org.kohsuke/github-api {:mvn/version "1.326"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
